* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

canvas {
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

#score, #high-score {
    font-size: 20px;
    margin-top: 10px;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#startButton {
    display: block;
    background-color: #008cba;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#startButton:hover {
    background-color: #007b8f;
}

@media (max-width: 600px) {
    canvas {
        width: 90%;
        height: auto;
    }

    button {
        font-size: 28px; /* Aumentar el tamaño de los botones para móviles */
        padding: 12px;
    }

    #startButton {
        font-size: 18px;
        padding: 12px 20px;
    }
}
